<h1>Your Watchlists</h1>
<ul class = "list-group">
  <% @lists.each do |list| %>
    <li class="list-group-item"><%= link_to "#{list.name}", list_path(list.id) %></li>
  <% end %>
</ul>
<%= link_to "Create new Watchlist", new_list_path %>
