<h1>New Watchlist</h1>
<div>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add Watchlist", class: "btn btn-primary" %>
  <% end %>
</div>
